:root {
    --accent_green: #97BF0D;
    --box_color: white;
    --arrow_size: 50px;
    --pulse_size: 62px;
    --arrow_border_rad: 50%;
}


.trans_row {
    margin-left: -5000px;
    margin-right: -5000px;
    padding-left: 5000px;
    padding-right: 5000px;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 10%;
    min-height: 300px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.section-title {
    font-size: 60px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}


hr {
    background-color: var(--accent_green);
    width: 150px;
}


#arrow-img {
    width: var(--arrow_size);
    border-radius: var(--arrow_border_rad);
}


#arrow-img:hover {
    -webkit-filter: drop-shadow(0px 0px 4px var(--accent_green));
    filter: drop-shadow(0px 0px 4px var(--accent_green));
}

#arrow-inner {
    padding-top: 6px;
    position: absolute;
}

#arrow-pulse {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: pulsate;
    background: white;
    width: var(--pulse_size);
    height: var(--pulse_size);
    z-index: -1;
    border-radius: var(--arrow_border_rad);
}


#arrow-container {
    margin-top: 15vh;

}


#arrow-inner, #arrow-border, #arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes pulsate {
    0% {
        opacity: 0;
        transform: scale3d(.4, .4, .4);
    }
    50% {
        opacity: 0.85;
    }

    100% {
        opacity: 0;
    }
}


#title {
    width: 100%;
    text-align: center;
    font-size: 60px;
    line-height: 1;
    padding-top: 20%;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#news, #news-mobile {
    color: white;
    margin-top: 20%;
}


html {
    min-height: 100%;
    box-shadow: inset 0 0 0 2000px #0f0f0f8a !important;
}


.ms-layer {
    padding-right: 20% !important;
    padding-left: 20% !important;
}

.ms-slide-layers {
    background: rgba(0, 0, 0, 0.75);
}

.master-slider-parent {
    padding-bottom: 10%;
}


.ms-skin-black-2 .ms-bullet-selected, .ms-skin-black-2 .ms-nav-next, .ms-skin-black-2 .ms-nav-prev {
    border: solid 3px var(--accent_green);
    -webkit-box-shadow: 0 0 5px var(--accent_green);

}

.ms-bullet:hover {
    -webkit-box-shadow: 0 0 5px white;
    border-color: white;
}

.ms-container, .ms-view {
    overflow: visible !important;
}


.ms-slide-bgcont, .ms-slide, .ms-slide-layers {
    border-radius: 10px !important;
}

.ms-slide-layers {
    box-shadow: inset 0 0 0 2px var(--box_color);
    -moz-box-shadow: inset 0 0 2px var(--box_color);
}

.ms-slide {
    -webkit-box-shadow: 0 0 5px var(--box_color);
}

#news-mobile {
    display: None;
}

@media all and (max-width: 800px) {

    #title {
        margin-top: 15vh;
        font-size: 45px;
    }

    #arrow-container {
        margin-top: 20vh;
        margin-bottom: 40vh;

    }

    #news {
        display: None;
    }

    #news-mobile {
        display: block;
    }


}
