:root {
    --accent_green: #97BF0D;
    --arrow_size: 50px;
    --pulse_size: 80px;
    --arrow_border_rad: 50%;
}



.trans_row {
    margin-left: -5000px;
    margin-right: -5000px;
    padding-left: 5000px;
    padding-right: 5000px;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 10%;
    min-height:300px;
    padding-bottom:20px;
}


h2 {
    padding-top: 100px;
    font-size: 40px;
    letter-spacing: -0.05em;
    line-height: 52px;
    text-transform: uppercase;
    text-align: center;
}

hr {
    margin: 15px auto;
    color: var(--accent_green);
    width: 150px;
}

h3 {
    font-weight: 300;
    padding: 10px 0 20px 0;
    text-align: center;
}

#arrow-inner, #arrow-border, #arrow-pulse {
    border-radius: var(--arrow_border_rad);
}

#arrow-inner {
    position: absolute;
    background: var(--accent_green);
    width: var(--arrow_size);
    height: var(--arrow_size);
    text-decoration: none;
    box-shadow: inset 0 0 0 3px rgb(255 255 255);
}

#arrow-inner a {
    font-size: 30px;
    text-decoration: none;
    color: white;
}


#arrow-pulse {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: pulsate;
    background: white;
    width: var(--pulse_size);
    height: var(--pulse_size);
    z-index: -1;
}

#arrow-container {
    margin-top: 20vh;
    /*     margin-top: 40%; */
}

#arrow-inner, #arrow-border, #arrow-container, #intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro {
    padding-top: 15vh;
    height: 100vh;
}

#title {
    font-size: 60px;
    line-height: 1;
}



@keyframes pulsate {
    0% {
        opacity: 0;
        transform: scale3d(.4, .4, .4);
    }
    50% {
        opacity: 0.85;
    }

    100% {
        opacity: 0;
    }
}
